/***********  General ********** */
@font-face {
  font-family: 'IRANSans';
  src:local('MyFont'), url('assets/fonts/IRANSans-Light.eot');
  src:local('MyFont'), url('assets/fonts/IRANSans-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IRANSans-Light.woff2') format('woff2'),
  url('assets/fonts/IRANSans-Light.woff') format('woff'),
  url('assets/fonts/IRANSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@mixin breakpoint($type, $breakpoint) {
  @media only screen and (#{$type}-width: $breakpoint) {
    @content;
  }
}
*{
  padding: 0;
  margin: 0;
  &:after,&:before {
    padding: 0;
    margin: 0;
  }
}
body {
  background-color: #fafafa;
  direction: rtl;
  font-size: 16px;
  font-family: 'IRANSans',Tahoma,sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
// loading
.lds-roller {
  display: inline-block;
  position: relative;
  margin-top: 80px;
  width: 60px;
  height: 60px;
  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #000;
      margin: -4px 0 0 -4px;
    }
    &:nth-child(1) {
    animation-delay: -0.036s;
      &:after {
        top: 63px;
        left: 63px;
      }
    }
    &:nth-child(2) {
      animation-delay: -0.072s;
      &:after {
        top: 68px;
        left: 56px;
      }
    }
    &:nth-child(3) {
      animation-delay: -0.108s;
      &:after {
        top: 71px;
        left: 48px;
      }
    }
    &:nth-child(4) {
      animation-delay: -0.144s;
      &:after {
        top: 72px;
        left: 40px;
      }
    }
    &:nth-child(5) {
      animation-delay: -0.18s;
      &:after {
        top: 71px;
        left: 32px;
      }
    }
    &:nth-child(6) {
      animation-delay: -0.216s;
      &:after {
        top: 68px;
        left: 24px;
      }
    }
    &:nth-child(7) {
      animation-delay: -0.252s;
      &:after {
        top: 63px;
        left: 17px;
      }
    }
    &:nth-child(8) {
      animation-delay: -0.288s;
      &:after {
        top: 56px;
        left: 12px;
      }
    }
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 935px;
}
/***********  Header ********** */
.header {
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  background: #ffffff;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: height .2s ease-in-out;
  height: 77px;
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .typo-logo {
      height: 47px;
      width: 50px;
    }
    .graphical-logo {
      height: 47px;
      width: 50px;
      margin-right: 13px;
    }
  }
}

/***********  Seller Info ********** */

.seller-info {
  margin-top: 40px;
  font-size: 14px;
  display: flex;
  @include breakpoint(max,992px) {
    padding: 0 24px;
  }
  @include breakpoint(max,680px) {
    flex-wrap: wrap;
  }
  @include breakpoint(max,410px) {
   margin-top: 0;
  }
  .logo {
    width: 152px;
    height: 152px;
    border-radius: 100px;
    border: 3px solid #6a19a5;
    padding: 5px;
    .img {
      height: 100%;
      width: 100%;
      border-radius: 100px;
      border: 1px solid rgba(0,0,0,.0875);
    }
    .score {
      background-image: linear-gradient(to right,#3827b4,#6a19a5 56%,#6c18a4);
      color: #fff;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      height: 28px;
      border-radius: 100px;
      padding: 2px 20px;
      position: relative;
      top: -15px;
      right: 44px;
      @include breakpoint(max,992px) {
        right: 29px;
      }
      @include breakpoint(max,410px) {
        right: 19px;
        padding: 0 20px;
      }
    }
    @include breakpoint(max,992px) {
      width: 125px;
      height: 125px;
      margin-top: 38px;
    }
    @include breakpoint(max,410px) {
      width: 100px;
      height: 100px;
    }
  }
  .details {
    margin-right: 30px;

    .title {
      font-size: 28px;
      font-weight: 300;
      margin-top: 30px;
      @include breakpoint(max,680px) {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
    .location {
      display: block;
      position: relative;
      top: -14px;
    }
    .verified {
      font-weight: 600;
    }

    @include breakpoint(max,680px) {
      flex: 0 0 100%;
      margin-right: 3px;
    }
  }
  .namad {
    width: 152px;
    height: 150px;
    margin: 40px auto 0 0;
    cursor: pointer;
    @include breakpoint(max,992px) {
      width: 120px;
      height: 120px;
    }
    @include breakpoint(max,992px) {
      position: absolute;
      left: 0;
      margin-top: 45px;
    }
    @include breakpoint(max,410px) {
      width: 94px;
      height: 95px;
      left: 10px;
      margin-top: 55px;
    }
  }
}

/***********  Product list ********** */

.product-wrapper {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(max,920px) {
    justify-content: center;
  }
  .product-item {
    width: 253px;
    height: auto;
    margin: 20px 26px;
    cursor: pointer;
    .img {
      width: 100%;
      height: 262px;
      @include breakpoint(max,920px) {
        background-size: cover !important;
      }
      @include breakpoint(max,520px) {
        height: 205px;
      }
      @include breakpoint(max,410px) {
        height: 150px;
        width: 130px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }
    .bottom {
      background-color: #fff;
      padding: 10px;
      border-top: 1px solid #ebebeb;
      .title,.price {
        color: #666;
        font-weight: 300;
      }
      .price {
        @include breakpoint(max,410px) {
          top: 13px;
          position: relative;
        }
      }
      @include breakpoint(max,410px) {
        flex: 0 0 calc(100% - 150px);
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px solid #ebebeb;
        border-right-color: transparent;
      }
    }
    &:hover {
      box-shadow: 0px 8px 17px 0 rgba(0, 0, 0, 0.19);
    }
    @include breakpoint(max,920px) {
      width: 230px;
    }
    @include breakpoint(max,770px) {
      margin: 15px 14px;
    }
    @include breakpoint(max,520px) {
      width: 180px;
      margin: 8px 5px;
    }
    @include breakpoint(max,410px) {
      display: flex;
      width: 92%;
      margin: 0 4% 20px;
    }
  }
  > a {
    @include breakpoint(max,410px) {
      flex: 0 0 100%;
    }
  }
}

/*********** Single Product ********** */

.single-product {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 5px;
  margin: 50px 0;
  display: flex;
  @include breakpoint(max,530px) {
    flex-wrap: wrap;
  }
  .img {
    height: auto;
    width: 253px;
    background-size: cover !important;
    @include breakpoint(max,530px) {
      height: 478px;
      width: 100%;
      flex: 0 0 100%;
    }
    @include breakpoint(max,460px) {
      height: 408px;
    }
    @include breakpoint(max,380px) {
      height: 324px;
    }
    @include breakpoint(max,320px) {
      height: 253px;
    }

  }
  .detail {
    margin: 20px 50px 30px;
    .title {
      font-size: 23px;
      font-weight: 300;
      @include breakpoint(max,530px) {
        margin-bottom: 17px;
        font-size: 20px;
      }
    }
    .available-item {
      border: 1px solid rgba(0,0,0,.12);
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
      .price {
        display: block;
        font-size: 14px;
      }
    }
    @include breakpoint(max,530px) {
      margin: 20px 30px 30px;
    }
  }
  @include breakpoint(max,935px) {
    margin: 50px 25px;
  }
}
